# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# npm modules
frontend/node_modules

#bundled files
frontend/static

#logs
warning.log
frontend/static/frontend/main.js
frontend/static/frontend/main.js.LICENSE.txt
simulation/machine_learning/Code/SimPy/log

#Simulation Files
media
Data/CSV_Dateien/*
Data/*
simulation/machine_learning

# Migration Files
simulation/migrations/*
!simulation/migrations/_init_.py
live_data/migrations/*
!live_data/migrations/_init_.py
frontend/static/frontend/main.js
frontend/static/frontend/main.js.LICENSE.txt
