# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# npm modules
frontend/node_modules

#bundled files
frontend/static

#logs
warning.log
frontend/static/frontend/main.js
frontend/static/frontend/main.js.LICENSE.txt

#Simulation Files
media
